<a href="https://colab.research.google.com/github/Laurahg22/Trabajo-analitica-RH/blob/main/Copia_de_Caso_RH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cargar librerías

In [3]:
#### Cargar paquetes siempre al inicio
import pandas as pd ### para manejo de datos
import sqlite3 as sql #### para bases de datos sql
import sys ## saber ruta de la que carga paquetes

In [4]:
## Conectar el drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
###Ruta directorio qué tiene paquetes
sys.path
sys.path.append('/content/drive/Othercomputers/Mi portátil/Trabajo-analitica-RH') ## este comanda agrega una ruta

In [6]:
#############BORRAR      ######

###Ruta directorio qué tiene paquetes
sys.path
sys.path.append('/content/drive/MyDrive/Trabajo-analitica-RH') ## este comanda agrega una ruta

In [7]:
import os

# Nueva ruta que deseas establecer como directorio de trabajo
nueva_ruta = '/content/drive/MyDrive/Trabajo-analitica-RH'

# Cambiar al nuevo directorio
os.chdir(nueva_ruta)

# Verificar que el cambio se realizó correctamente imprimiendo el nuevo directorio de trabajo
print("Nuevo directorio de trabajo:", os.getcwd())

Nuevo directorio de trabajo: /content/drive/.shortcut-targets-by-id/1-Og2bPyGXzdyYHSkVZKLI_jqqPOlQKiC/Trabajo-analitica-RH

In [8]:
import a_funciones as funciones  ###archivo de funciones propias

In [9]:
## todas las bases de datos se registran en una variable y se convierten en dataframe
data_general = pd.read_csv("https://raw.githubusercontent.com/Laurahg22/Trabajo-analitica-RH/main/data/general_data.csv")
manager_survey = pd.read_csv("https://raw.githubusercontent.com/Laurahg22/Trabajo-analitica-RH/main/data/manager_survey.csv")
retirement_info = pd.read_csv("https://raw.githubusercontent.com/Laurahg22/Trabajo-analitica-RH/main/data/retirement_info.csv")
employee_survey = pd.read_csv("https://raw.githubusercontent.com/Laurahg22/Trabajo-analitica-RH/main/data/employee_survey_data.csv")

In [10]:
# Configurar la opción para mostrar todas las columnas completas
pd.set_option('display.max_columns', None)

# Comprender y Limpiar datos

1.   Verificar lectura correcta de los datos.
2.   Verificar Datos faltantes (eliminar variables si es necesario) (la imputación está la parte de modelado).
3. Tipos de variables (categoricas/numéricas/fechas)
4. Niveles en categorícas
5. Observaciones por categoría
6. Datos atípicos en numéricas

### Base de datos 1

In [11]:
#Lectura de datos
data_general.sort_values(by=['EmployeeID'],ascending=1)

,Unnamed: 0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,2015-12-31
4410,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,2016-12-31
4411,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,2016-12-31
1,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,2015-12-31
2,2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,2015-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,4407,25,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,2,Sales Executive,Married,37020,0.0,Y,20,8,0,5.0,4,4,1,2,2015-12-31
8818,4408,42,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,Y,14,8,1,10.0,2,9,7,8,2016-12-31
4408,4408,42,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,Y,14,8,1,10.0,2,9,7,8,2015-12-31
4409,4409,40,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,Y,12,8,0,NaN,6,21,3,9,2015-12-31
8819,4409,40,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,Y,12,8,0,NaN,6,21,3,9,2016-12-31

In [12]:
#Aplicar value_counts
data_general['Over18'].value_counts() # se aplica está función para ver la frecuencia de datos

Y    8820
Name: Over18, dtype: int64

In [13]:
#Aplicar value_counts
data_general['StandardHours'].value_counts() # se aplica está función para ver la frecuencia de datos

8    8820
Name: StandardHours, dtype: int64

In [14]:
#Aplicar value_counts
data_general['EmployeeCount'].value_counts() # se aplica está función para ver la frecuencia de datos

1    8820
Name: EmployeeCount, dtype: int64

Se observa que en estas 3 variables se repite continuamente un valor para todas las casillas de los datos, para el caso de Over18 se repite "Y", en StandardHours se repite "8" y en EmployeeCount se repite "1". Por la razón mencionada anteriormente se decide eliminar estas variables.

In [15]:
# Eliminar variable
data_general = data_general.drop(['Unnamed: 0', 'Over18', 'StandardHours', 'EmployeeCount'], axis=1) # Se elimina la variable Unnamed: 0 porque esta no aporta nada información pertinente, solo enumera.

In [16]:
##### resumen con información tablas faltantes y tipos de variables
data_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8820 non-null   int64
 1   BusinessTravel           8820 non-null   object
 2   Department               8820 non-null   object
 3   DistanceFromHome         8820 non-null   int64
 4   Education                8820 non-null   int64
 5   EducationField           8820 non-null   object
 6   EmployeeID               8820 non-null   int64
 7   Gender                   8820 non-null   object
 8   JobLevel                 8820 non-null   int64
 9   JobRole                  8820 non-null   object
 10  MaritalStatus            8820 non-null   object
 11  MonthlyIncome            8820 non-null   int64
 12  NumCompaniesWorked       8782 non-null   float64
 13  PercentSalaryHike        8820 non-null   int64
 14  StockOptionLevel         8820 non-null   int64
 15  TotalWorkingYears        8802 non-null   float64
 16  TrainingTimesLastYear    8820 non-null   int64
 17  YearsAtCompany           8820 non-null   int64
 18  YearsSinceLastPromotion  8820 non-null   int64
 19  YearsWithCurrManager     8820 non-null   int64
 20  InfoDate                 8820 non-null   object
dtypes: float64(2), int64(12), object(7)
memory usage: 1.4+ MB

In [17]:
# Cambiar el tipo de dato de la variable fecha a formato fecha
data_general['InfoDate'] = pd.to_datetime(data_general['InfoDate'], format='%Y/%m/%d')
data_general['InfoDate']

0      2015-12-31
1      2015-12-31
2      2015-12-31
3      2015-12-31
4      2015-12-31
          ...
8815   2016-12-31
8816   2016-12-31
8817   2016-12-31
8818   2016-12-31
8819   2016-12-31
Name: InfoDate, Length: 8820, dtype: datetime64[ns]

In [18]:
# verificamos los cambios
data_general.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0,2015-12-31
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4,2015-12-31
2,32,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3,2015-12-31
3,38,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5,2015-12-31
4,32,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4,2015-12-31

In [19]:
data_general.isnull().sum()

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64

### Base de datos 2

In [20]:
#Lectura de datos
manager_survey.sort_values(by=['EmployeeID'], ascending=1)

      Unnamed: 0  EmployeeID  JobInvolvement  PerformanceRating  SurveyDate
0              0           1               3                  3  2015-12-31
4410           0           1               3                  3  2016-12-31
4411           1           2               2                  4  2016-12-31
1              1           2               2                  4  2015-12-31
2              2           3               3                  3  2015-12-31
...          ...         ...             ...                ...         ...
4407        4407        4408               3                  4  2015-12-31
8818        4408        4409               2                  3  2016-12-31
4408        4408        4409               2                  3  2015-12-31
4409        4409        4410               4                  3  2015-12-31
8819        4409        4410               4                  3  2016-12-31

[8820 rows x 5 columns]

In [21]:
# Eliminar variable
manager_survey = manager_survey.drop(['Unnamed: 0'], axis=1) # Se elimina la variable Unnamed: 0 porque esta no aporta nada información pertinente, solo enumera.

In [22]:
##### resumen con información tablas faltantes y tipos de variables
manager_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         8820 non-null   int64
 1   JobInvolvement     8820 non-null   int64
 2   PerformanceRating  8820 non-null   int64
 3   SurveyDate         8820 non-null   object
dtypes: int64(3), object(1)
memory usage: 275.8+ KB

In [23]:
manager_survey.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
SurveyDate           0
dtype: int64

In [24]:
# Cambiar el tipo de dato de la variable fecha a formato fecha
manager_survey['SurveyDate'] = pd.to_datetime(manager_survey['SurveyDate'], format='%Y/%m/%d')
manager_survey['SurveyDate']
manager_survey.dtypes

EmployeeID                    int64
JobInvolvement                int64
PerformanceRating             int64
SurveyDate           datetime64[ns]
dtype: object

In [25]:
#Verificar los cambios
manager_survey.head()

   EmployeeID  JobInvolvement  PerformanceRating SurveyDate
0           1               3                  3 2015-12-31
1           2               2                  4 2015-12-31
2           3               3                  3 2015-12-31
3           4               2                  3 2015-12-31
4           5               3                  3 2015-12-31

En esta base de datos no se encuentran variables que eliminar, los datos que proporciona pueden ser utilizados posteriormente y no se observan valores nulos.

### Base de datos 3

In [26]:
#Lectura de datos
retirement_info.sort_values(by=['EmployeeID'],ascending=1)

,Unnamed: 0.1,Unnamed: 0,EmployeeID,Attrition,retirementDate,retirementType,resignationReason
0,0,0,2,Yes,2016-10-15,Resignation,Others
1,1,1,7,Yes,2016-07-20,Resignation,Stress
2,2,2,14,Yes,2016-11-08,Resignation,Others
3,3,3,29,Yes,2016-10-15,Resignation,Others
4,4,4,31,Yes,2016-02-08,Resignation,Salary
...,...,...,...,...,...,...,...
706,706,706,4382,Yes,2015-04-18,Resignation,Salary
707,707,707,4387,Yes,2015-09-16,Resignation,Others
708,708,708,4389,Yes,2015-05-24,Resignation,Others
709,709,709,4392,Yes,2015-02-26,Fired,NaN
710,710,710,4403,Yes,2015-01-26,Resignation,Stress

In [27]:
##### resumen con información tablas faltantes y tipos de variables
retirement_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       711 non-null    int64
 1   Unnamed: 0         711 non-null    int64
 2   EmployeeID         711 non-null    int64
 3   Attrition          711 non-null    object
 4   retirementDate     711 non-null    object
 5   retirementType     711 non-null    object
 6   resignationReason  641 non-null    object
dtypes: int64(3), object(4)
memory usage: 39.0+ KB

In [28]:
#Aplicar value_counts
retirement_info['Attrition'].value_counts() # se aplica está función para ver la frecuencia de datos

Yes    711
Name: Attrition, dtype: int64

In [29]:
# Eliminar variable
retirement_info = retirement_info.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1) # Se elimina la variable Unnamed: 0 porque esta no aporta nada información pertinente, solo enumera.

Se eliminaron tres variables en esta base de datos (dos por enumeración) y la otra "Attrition" debido a que solo era una respuesta para todos los empleados, esto no aporta información. Por otra parte se encuentras valores nulos en la variable "resignationReason", pero se considera valiosa, ya que, el motivo de renuncia podría explicar ciertas incertidumbres próximamente (consideración).

In [30]:
# Cambiar el tipo de dato de la variable fecha a formato fecha
retirement_info['retirementDate'] = pd.to_datetime(retirement_info['retirementDate'], format='%Y/%m/%d')
retirement_info.dtypes

EmployeeID                    int64
Attrition                    object
retirementDate       datetime64[ns]
retirementType               object
resignationReason            object
dtype: object

In [31]:
#verificar los cambios
retirement_info.head()

   EmployeeID Attrition retirementDate retirementType resignationReason
0           2       Yes     2016-10-15    Resignation            Others
1           7       Yes     2016-07-20    Resignation            Stress
2          14       Yes     2016-11-08    Resignation            Others
3          29       Yes     2016-10-15    Resignation            Others
4          31       Yes     2016-02-08    Resignation            Salary

In [32]:
retirement_info.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

### Base de datos 4

In [33]:
#Lectura de datos
employee_survey.sort_values(by=['EmployeeID'],ascending=1)

,Unnamed: 0,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,0,1,3.0,4.0,2.0,2015-12-31
4410,0,1,3.0,4.0,2.0,2016-12-31
4411,1,2,3.0,2.0,4.0,2016-12-31
1,1,2,3.0,2.0,4.0,2015-12-31
2,2,3,2.0,2.0,1.0,2015-12-31
...,...,...,...,...,...,...
4407,4407,4408,1.0,3.0,3.0,2015-12-31
8818,4408,4409,4.0,1.0,3.0,2016-12-31
4408,4408,4409,4.0,1.0,3.0,2015-12-31
4409,4409,4410,1.0,3.0,NaN,2015-12-31
8819,4409,4410,1.0,3.0,NaN,2016-12-31

In [34]:
##### resumen con información tablas faltantes y tipos de variables
employee_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8820 non-null   int64
 1   EmployeeID               8820 non-null   int64
 2   EnvironmentSatisfaction  8770 non-null   float64
 3   JobSatisfaction          8780 non-null   float64
 4   WorkLifeBalance          8744 non-null   float64
 5   DateSurvey               8820 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 413.6+ KB

In [35]:
# Eliminar variable
employee_survey = employee_survey.drop(['Unnamed: 0'], axis=1) # Se elimina la variable Unnamed: 0 porque esta no aporta nada información pertinente, solo enumera.

In [36]:
# Cambiar el tipo de dato de la variable fecha a formato fecha
employee_survey['DateSurvey'] = pd.to_datetime(employee_survey['DateSurvey'], format='%Y/%m/%d')
employee_survey.dtypes

EmployeeID                          int64
EnvironmentSatisfaction           float64
JobSatisfaction                   float64
WorkLifeBalance                   float64
DateSurvey                 datetime64[ns]
dtype: object

In [37]:
#verificar los cambios
employee_survey.head()

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,2015-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31
3,4,4.0,4.0,3.0,2015-12-31
4,5,4.0,1.0,3.0,2015-12-31

In [38]:
employee_survey.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

## Consultas SQL

In [39]:
conn.close()

NameError: name 'conn' is not defined

In [40]:
conn = sql.connect("/content/drive/MyDrive/Trabajo-analitica-RH/data/bd_empleados.csv") ### crea una base de datos con el nombre dentro de comillas, si existe crea una conexión.
cur=conn.cursor() ### ejecutar funciones  en BD

In [41]:
### Llevar tablas a base de datos
data_general.to_sql("data_general",conn,if_exists="replace")
employee_survey.to_sql("employee_survey",conn,if_exists="replace")
manager_survey.to_sql("manager_survey",conn,if_exists="replace")
retirement_info.to_sql("retirement_info",conn,if_exists="replace")

711

In [42]:
cur.execute("Select name from sqlite_master where type='table'") ### consultar bases de datos
cur.fetchall()

[('data_general',),
 ('employee_survey',),
 ('manager_survey',),
 ('retirement_info',)]

In [43]:
data_general = pd.read_sql('SELECT * FROM data_general', con=conn)
employee_survey = pd.read_sql('SELECT * FROM employee_survey', con=conn)
manager_survey = pd.read_sql('SELECT * FROM manager_survey', con=conn)
retirement_info = pd.read_sql('SELECT * FROM retirement_info', con=conn)

In [44]:
# para ver las dimensiones de las tablas y hacerme una idea de como deberian quedar las dimensiones despues de hacer la union
print(data_general.shape)
print(employee_survey.shape)
print(manager_survey.shape)
print(retirement_info.shape)

(8820, 22)
(8820, 6)
(8820, 5)
(711, 6)

In [45]:
# queria verificar si las fechas son las mismas
print(data_general['InfoDate'].unique())
print(employee_survey['DateSurvey'].unique())
print(manager_survey['SurveyDate'].unique())
#print(retirement_info['retirementDate'].unique())

['2015-12-31 00:00:00' '2016-12-31 00:00:00']
['2015-12-31 00:00:00' '2016-12-31 00:00:00']
['2015-12-31 00:00:00' '2016-12-31 00:00:00']

In [48]:
# Definir la consulta SQL para crear la tabla y unir las tablas
consulta_sql = """
CREATE TABLE data_final AS
SELECT gd.*,
  es.EnvironmentSatisfaction, es.JobSatisfaction, es.WorkLifeBalance,
  ms.JobInvolvement, ms.PerformanceRating,
  ri.Attrition, ri.retirementDate, ri.retirementType, ri.resignationReason
FROM data_general AS gd
LEFT JOIN employee_survey AS es
ON gd.EmployeeID = es.EmployeeID AND strftime('%Y', gd.InfoDate) = strftime('%Y', es.DateSurvey)
LEFT JOIN manager_survey AS ms
ON gd.EmployeeID = ms.EmployeeID AND strftime('%Y', gd.InfoDate) = strftime('%Y', ms.SurveyDate)
LEFT JOIN (
  SELECT *
  FROM retirement_info
  WHERE strftime('%Y', retirementDate) = '2016'
) AS ri
ON gd.EmployeeID = ri.EmployeeID AND strftime('%Y', gd.InfoDate) = '2015'
"""

# Ejecutar la consulta para crear la tabla y unir las tablas
conn.execute(consulta_sql)

# Confirmar los cambios y cerrar la conexión a la base de datos
conn.commit()
conn.close()

In [51]:
data_final = pd.read_csv('/content/drive/MyDrive/Trabajo-analitica-RH/data_final.csv')
data_final

,int64_field_0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Attrition,retirementDate,retirementType,resignationReason
0,4001,32,Travel_Frequently,Sales,9,4,Life Sciences,1,4002,Male,4,Sales Executive,Single,43270,8.0,True,13,8,0,4,4,0,0,0,31/12/2016,4.0,4.0,4.0,3,3,NaN,NaN,NaN,NaN
1,2531,32,Travel_Frequently,Sales,9,4,Life Sciences,1,2532,Male,4,Sales Executive,Single,43270,8.0,True,13,8,0,4,4,0,0,0,31/12/2016,4.0,4.0,4.0,3,3,NaN,NaN,NaN,NaN
2,2531,32,Travel_Frequently,Sales,9,4,Life Sciences,1,2532,Male,4,Sales Executive,Single,43270,8.0,True,13,8,0,4,4,0,0,0,31/12/2015,4.0,4.0,4.0,3,3,NaN,NaN,NaN,NaN
3,4001,32,Travel_Frequently,Sales,9,4,Life Sciences,1,4002,Male,4,Sales Executive,Single,43270,8.0,True,13,8,0,4,4,0,0,0,31/12/2015,4.0,4.0,4.0,3,3,NaN,NaN,NaN,NaN
4,1061,32,Travel_Frequently,Sales,9,4,Life Sciences,1,1062,Male,4,Sales Executive,Single,43270,8.0,True,13,8,0,4,4,0,0,0,31/12/2016,4.0,4.0,4.0,3,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2012,28,Travel_Frequently,Research & Development,7,3,Life Sciences,1,2013,Male,2,Manager,Divorced,29760,1.0,True,14,8,0,1,3,1,0,0,31/12/2015,1.0,2.0,3.0,3,3,True,17/11/2016,Resignation,Others
496,542,28,Travel_Frequently,Research & Development,7,3,Life Sciences,1,543,Male,2,Manager,Divorced,29760,1.0,True,14,8,0,1,3,1,0,0,31/12/2016,1.0,2.0,3.0,3,3,NaN,NaN,NaN,NaN
497,3482,28,Travel_Frequently,Research & Development,7,3,Life Sciences,1,3483,Male,2,Manager,Divorced,29760,1.0,True,14,8,0,1,3,1,0,0,31/12/2016,1.0,2.0,3.0,3,3,NaN,NaN,NaN,NaN
498,3345,21,Travel_Rarely,Research & Development,1,3,Medical,1,3346,Male,2,Sales Executive,Single,104000,1.0,True,13,8,1,1,2,1,0,0,31/12/2016,4.0,4.0,2.0,3,3,NaN,NaN,NaN,NaN
499,1875,21,Travel_Rarely,Research & Development,1,3,Medical,1,1876,Male,2,Sales Executive,Single,104000,1.0,True,13,8,1,1,2,1,0,0,31/12/2016,4.0,4.0,2.0,3,3,NaN,NaN,NaN,NaN

### duda chicas

In [ ]:
conn

In [ ]:
### Llevar tablas a base de datos
df_action.to_sql("action",conn,if_exists="replace")
df_employees.to_sql("employee",conn,if_exists="replace")
df_performance.to_sql("performance",conn,if_exists="replace")

NameError: name 'df_action' is not defined

In [ ]:
cur.execute("Select name from sqlite_master where type='table'") ### consultar bases de datos
cur.fetchall()

[('data_general',),
 ('employee_survey',),
 ('manager_survey',),
 ('retirement_info',)]